Flow - (Sonoff Switches).txt
[{"id":"d7bacfda.6ffad","type":"mysql","z":"ff0ee2e7.739b4","mydb":"aed3581e.014848","name":"Store Switch Data","x":562.8958129882812,"y":376.60003662109375,"wires":[["65625f0d.7d8be"]]},{"id":"62f96b08.d69964","type":"mqtt in","z":"ff0ee2e7.739b4","name":"Switch Notification","topic":"/switch/#","qos":"2","broker":"69abe34c.d0584c","x":103.89578247070312,"y":240.4000244140625,"wires":[["2f74e6a2.1a022a"]]},{"id":"15c2b6f0.49eee9","type":"function","z":"ff0ee2e7.739b4","name":"Handle Inbound Switch Message","func":"messagetype = msg.payload.messagetype;\ntopicArray = msg.topic.split(\"/\");\ndeviceid = topicArray[2];\nif ((messagetype == \"DataReset\") || (messagetype == \"PowerUp\")){\n    // INSERT INTO devices2 (deviceid, location, devicetype, deviceip, lastmsgtype, status, lastcontact) values ('5C:CF:7F:0C:AD:F0', 'loft', 'switch', '192.168.2.143', 'PowerUp', 1, now()) ON DUPLICATE KEY UPDATE location = 'loft', devicetype = 'switch', deviceip = '192.168.2.143', lastmsgtype = 'PowerUp', status = 0, lastcontact = now();\n    devicetype = topicArray[1];\n    direction = topicArray[3];\n    messagetype = msg.payload.messagetype;\n    location = msg.payload.location;\n    status = msg.payload.status;\n    deviceip = msg.payload.deviceip;\n    msg.topic = \"INSERT INTO devices2 (deviceid, location, devicetype, deviceip, lastmsgtype, status, lastcontact)\";\n    msg.topic = msg.topic + \" values ('\" + deviceid + \"', '\" + location + \"', '\" + devicetype + \"', '\" + deviceip + \"', '\" + messagetype + \"', \" + status + \", now())\";\n    msg.topic = msg.topic + \" ON DUPLICATE KEY UPDATE location = '\" + location + \"', devicetype = '\" + devicetype + \"', deviceip = '\" + deviceip + \"', lastmsgtype = '\" + messagetype + \"', status = \" + status + \", lastcontact = now();\";\n    return [msg];\n} else if (messagetype == \"StateChanageReport\") {\n    deviceid = topicArray[2];\n    status = msg.payload.status;\n    msg.topic = \"UPDATE devices2 SET status = \" + status + \", lastcontact = now() WHERE deviceid = '\" + deviceid + \"';\";\n    return [msg];\n} else if (messagetype == \"LocationChgCmd\") {\n    deviceid = topicArray[2];\n    location = msg.payload.location;\n    msg.topic = \"UPDATE devices2 SET location = '\" + location + \"', lastcontact = now() WHERE deviceid = '\" + deviceid + \"';\";\n    return [msg];\n} else if (messagetype == \"StateChanageCmd\") {\n    deviceid = topicArray[2];\n    status = msg.payload.status;\n    if (status != 2){\n        msg.topic = \"UPDATE devices2 SET status = \" + status + \", lastcontact = now() WHERE deviceid = '\" + deviceid + \"';\";\n    } else {\n        msg.topic = \"UPDATE devices2 SET status = NOT status , lastcontact = now() WHERE deviceid = '\" + deviceid + \"';\";\n    }\n    \n    return [msg];\n} else if (messagetype == \"PingRequest\") {\n    return [null];\n} else if (messagetype == \"PingResponse\") {\n    deviceid = topicArray[2];\n    msg.topic = \"UPDATE devices2 SET lastcontact = now() WHERE deviceid = '\" + deviceid + \"';\";\n    return [msg];\n}   ","outputs":"1","noerr":0,"x":396.895751953125,"y":238.0001220703125,"wires":[["d7bacfda.6ffad"]]},{"id":"3e6b036b.6b7bac","type":"inject","z":"ff0ee2e7.739b4","name":"StateChanageCmd 0","topic":"/switch/5C:CF:7F:0C:AD:F0/out","payload":"{\"messagetype\":\"StateChanageCmd\",\"status\":\"0\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":138.89578247070312,"y":34,"wires":[["43d92a0c.0ab614"]]},{"id":"43d92a0c.0ab614","type":"mqtt out","z":"ff0ee2e7.739b4","name":"Send to MQTT","topic":"","qos":"","retain":"","broker":"69abe34c.d0584c","x":537.8957824707031,"y":54.800048828125,"wires":[]},{"id":"2f74e6a2.1a022a","type":"json","z":"ff0ee2e7.739b4","name":"","x":184.89578247070312,"y":350.4000244140625,"wires":[["15c2b6f0.49eee9"]]},{"id":"61218a28.81b274","type":"comment","z":"ff0ee2e7.739b4","name":"mysql Table Stuff","info":"CREATE TABLE devices2 (deviceid varchar(30) PRIMARY KEY, location varchar(40), devicetype varchar(15), deviceip varchar(15), lastmsgtype varchar(15), status bool, lastcontact timestamp);\n\nINSERT INTO devices2 (deviceid, location, devicetype, deviceip, lastmsgtype, status, lastcontact) values ('5C:CF:7F:0C:AD:F0', 'loft', 'switch', '192.168.2.143', 'PowerUp', 1, now());\n\nINSERT INTO devices2 (deviceid, location, devicetype, deviceip, lastmsgtype, status, lastcontact) values ('5C:CF:7F:0C:AD:F0', 'loft', 'switch', '192.168.2.143', 'PowerUp', 1, now()) ON DUPLICATE KEY UPDATE location = 'loft', devicetype = 'switch', deviceip = '192.168.2.143', lastmsgtype = 'PowerUp', status = 0, lastcontact = now();\n\n\"deviceid\": \"5C:CF:7F:0C:AD:F0\",\n\"location\": \"loft\",\n\"devicetype\": \"switch\",  \n\"deviceip\": \"192.168.2.143\",\n\"messagetype\": \"PowerUp\", \n\"status\": \"1\"","x":463.7784118652344,"y":160.55963134765625,"wires":[]},{"id":"20ea1205.590b2e","type":"inject","z":"ff0ee2e7.739b4","name":"StateChanageCmd 1","topic":"/switch/5C:CF:7F:0C:AD:F0/out","payload":"{\"messagetype\":\"StateChanageCmd\",\"status\":\"1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":137,"y":77,"wires":[["43d92a0c.0ab614"]]},{"id":"8182381a.6c3d38","type":"inject","z":"ff0ee2e7.739b4","name":"StateChanageCmd 2","topic":"/switch/5C:CF:7F:0C:AD:F0/out","payload":"{\"messagetype\":\"StateChanageCmd\",\"status\":\"2\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":136,"y":115,"wires":[["43d92a0c.0ab614"]]},{"id":"4132bd.bea11d44","type":"inject","z":"ff0ee2e7.739b4","name":"LocationChgCmd","topic":"/switch/5C:CF:7F:0C:AD:F0/out","payload":"{\"messagetype\":\"LocationChgCmd\",\"location\":\"Cabin Loft\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":115,"y":160,"wires":[["43d92a0c.0ab614"]]},{"id":"7fbf23f6.164d2c","type":"inject","z":"ff0ee2e7.739b4","name":"PingRequest","topic":"/switch/5C:CF:7F:0C:AD:F0/out","payload":"{\"messagetype\":\"PingRequest\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":106,"y":200,"wires":[["43d92a0c.0ab614"]]},{"id":"5a5f733e.50f6dc","type":"debug","z":"ff0ee2e7.739b4","name":"","active":true,"console":"false","complete":"payload","x":751,"y":147,"wires":[]},{"id":"65625f0d.7d8be","type":"json","z":"ff0ee2e7.739b4","name":"","x":660,"y":265,"wires":[["5a5f733e.50f6dc"]]},{"id":"aed3581e.014848","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"nodered","tz":""},{"id":"69abe34c.d0584c","type":"mqtt-broker","z":"","broker":"192.168.2.31","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]