Flow - (Alexa Working).txt
[{"id":"f70b08af.080888","type":"subflow","name":"Motion","info":"","in":[{"x":30.333236694335938,"y":26.33331298828125,"wires":[{"id":"351121fc.cea38e"}]}],"out":[{"x":698.3332366943359,"y":28.33331298828125,"wires":[{"id":"94582afa.fc2d68","port":0}]},{"x":710.3332366943359,"y":173.33331298828125,"wires":[{"id":"94582afa.fc2d68","port":1}]}]},{"id":"351121fc.cea38e","type":"function","z":"f70b08af.080888","name":"Parse Input Data","func":"msg.payload = \"Processed thru Water SubFlow\"\nmsg.topic = \"select location from devices where device = 'thermostat'\";\nreturn msg;","outputs":1,"noerr":0,"x":164.3333282470703,"y":58.33332824707031,"wires":[["b42b4ce6.75439"]]},{"id":"b42b4ce6.75439","type":"mysql","z":"f70b08af.080888","mydb":"aed3581e.014848","name":"Get Device Data","x":182.3333282470703,"y":146.66665649414062,"wires":[["37205dc2.c88cc2"]]},{"id":"159023e4.fcaedc","type":"mysql","z":"f70b08af.080888","mydb":"aed3581e.014848","name":"","x":435.33326721191406,"y":257.66661071777344,"wires":[["3dd2f26f.5d6b6e"]]},{"id":"37205dc2.c88cc2","type":"function","z":"f70b08af.080888","name":"Format Data Request","func":"\nreturn msg;","outputs":1,"noerr":0,"x":189.33326721191406,"y":225.9999542236328,"wires":[["159023e4.fcaedc","3054439d.35dc1c","edbb5619.2f0478"]]},{"id":"3054439d.35dc1c","type":"http request","z":"f70b08af.080888","name":"","method":"GET","ret":"txt","url":"","x":422.33326721191406,"y":390.3333282470703,"wires":[["3dd2f26f.5d6b6e"]]},{"id":"3dd2f26f.5d6b6e","type":"json","z":"f70b08af.080888","name":"","x":601.3332977294922,"y":237.66664123535156,"wires":[["94582afa.fc2d68"]]},{"id":"94582afa.fc2d68","type":"function","z":"f70b08af.080888","name":"Build Returned Data","func":"\nreturn msg;","outputs":"2","noerr":0,"x":518.3332672119141,"y":116.33332824707031,"wires":[[],[]]},{"id":"edbb5619.2f0478","type":"function","z":"f70b08af.080888","name":"mongo placeholder","func":"\nreturn msg;","outputs":1,"noerr":0,"x":423.8298797607422,"y":327.9618225097656,"wires":[["3dd2f26f.5d6b6e"]]},{"id":"aed3581e.014848","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"nodered","tz":""},{"id":"57d47df6.a1a0e4","type":"subflow","name":"Thermometers","info":"","in":[{"x":43.33329772949219,"y":27.333251953125,"wires":[{"id":"a042d914.d3c058"}]}],"out":[{"x":703.3332977294922,"y":96.33324432373047,"wires":[{"id":"7ec9635e.002e5c","port":0}]},{"x":705.3332366943359,"y":214.33326721191406,"wires":[{"id":"7ec9635e.002e5c","port":1}]}]},{"id":"a042d914.d3c058","type":"function","z":"57d47df6.a1a0e4","name":"Parse Input Data","func":"msg.payload = \"Processed thru Water SubFlow\"\nmsg.topic = \"select location from devices where device = 'thermostat'\";\nreturn msg;","outputs":1,"noerr":0,"x":166.99998474121094,"y":90.33332824707031,"wires":[["d263f86e.22c318"]]},{"id":"d263f86e.22c318","type":"mysql","z":"57d47df6.a1a0e4","mydb":"aed3581e.014848","name":"Get Device Data","x":184.99998474121094,"y":178.66665649414062,"wires":[["3b00d655.2318ba"]]},{"id":"764f0469.d990cc","type":"mongodb in","z":"57d47df6.a1a0e4","mongodb":"5c9d20f2.bee62","name":"","collection":"","operation":"find","x":446.9999237060547,"y":351.3333282470703,"wires":[["5268220e.23624c"]]},{"id":"4aa04cbd.2089d4","type":"mysql","z":"57d47df6.a1a0e4","mydb":"aed3581e.014848","name":"","x":437.9999237060547,"y":289.66661071777344,"wires":[["5268220e.23624c"]]},{"id":"3b00d655.2318ba","type":"function","z":"57d47df6.a1a0e4","name":"Format Data Request","func":"\nreturn msg;","outputs":1,"noerr":0,"x":191.9999237060547,"y":257.9999542236328,"wires":[["4aa04cbd.2089d4","764f0469.d990cc","84b34e31.9fa78"]]},{"id":"84b34e31.9fa78","type":"http request","z":"57d47df6.a1a0e4","name":"","method":"GET","ret":"txt","url":"","x":424.9999237060547,"y":422.3333282470703,"wires":[["5268220e.23624c"]]},{"id":"5268220e.23624c","type":"json","z":"57d47df6.a1a0e4","name":"","x":603.9999542236328,"y":269.66664123535156,"wires":[["7ec9635e.002e5c"]]},{"id":"7ec9635e.002e5c","type":"function","z":"57d47df6.a1a0e4","name":"Build Returned Data","func":"\nreturn msg;","outputs":"2","noerr":0,"x":520.9999237060547,"y":148.3333282470703,"wires":[[],[]]},{"id":"aed3581e.014848","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"nodered","tz":""},{"id":"5c9d20f2.bee62","type":"mongodb","z":"57d47df6.a1a0e4","hostname":"127.0.0.1","port":"27017","db":"temperature","name":""},{"id":"4fc6ea6b.a8e194","type":"subflow","name":"Water","info":"","in":[{"x":52.49995422363281,"y":32.999908447265625,"wires":[{"id":"980c8b19.c4c1a8"}]}],"out":[{"x":687.4999237060547,"y":95.99990844726562,"wires":[{"id":"980c8b19.c4c1a8","port":0},{"id":"9bae285b.79b628","port":0}]},{"x":691.4999237060547,"y":197.99989318847656,"wires":[{"id":"9bae285b.79b628","port":1}]}]},{"id":"980c8b19.c4c1a8","type":"function","z":"4fc6ea6b.a8e194","name":"Parse Input Data","func":"msg.payload = \"Processed thru Water SubFlow\"\nmsg.topic = \"select location from devices where device = 'thermostat'\";\nreturn msg;","outputs":1,"noerr":0,"x":181.50001525878906,"y":95.66667175292969,"wires":[["3cde7152.6e5d3e"]]},{"id":"3cde7152.6e5d3e","type":"mysql","z":"4fc6ea6b.a8e194","mydb":"aed3581e.014848","name":"Get Device Data","x":199.50001525878906,"y":184,"wires":[["7aaa990a.c9e4a8"]]},{"id":"dfd33e9e.ab96a","type":"mongodb in","z":"4fc6ea6b.a8e194","mongodb":"bc76ebda.6338e8","name":"","collection":"","operation":"find","x":441.4999542236328,"y":356.6666717529297,"wires":[["be98b862.94d368"]]},{"id":"a4977407.b24928","type":"mysql","z":"4fc6ea6b.a8e194","mydb":"aed3581e.014848","name":"","x":452.4999542236328,"y":294.9999542236328,"wires":[["be98b862.94d368"]]},{"id":"7aaa990a.c9e4a8","type":"function","z":"4fc6ea6b.a8e194","name":"Format Data Request","func":"\nreturn msg;","outputs":1,"noerr":0,"x":206.4999542236328,"y":263.3332977294922,"wires":[["a4977407.b24928","dfd33e9e.ab96a","70b9a424.a1312c"]]},{"id":"70b9a424.a1312c","type":"http request","z":"4fc6ea6b.a8e194","name":"","method":"GET","ret":"txt","url":"","x":439.4999542236328,"y":427.6666717529297,"wires":[["be98b862.94d368"]]},{"id":"be98b862.94d368","type":"json","z":"4fc6ea6b.a8e194","name":"","x":618.4999847412109,"y":274.99998474121094,"wires":[["9bae285b.79b628"]]},{"id":"9bae285b.79b628","type":"function","z":"4fc6ea6b.a8e194","name":"Build Returned Data","func":"\nreturn msg;","outputs":"2","noerr":0,"x":535.4999542236328,"y":153.6666717529297,"wires":[[],[]]},{"id":"aed3581e.014848","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"nodered","tz":""},{"id":"bc76ebda.6338e8","type":"mongodb","z":"4fc6ea6b.a8e194","hostname":"127.0.0.1","port":"27017","db":"water","name":""},{"id":"5138b632.442258","type":"subflow","name":"Reply to Alexa","info":"","in":[{"x":101.49993896484375,"y":84.99993896484375,"wires":[{"id":"5c6a7d06.d336c4"}]}],"out":[{"x":636.9999847412109,"y":196,"wires":[{"id":"a1c7b5c6.9de358","port":0}]}]},{"id":"5c6a7d06.d336c4","type":"template","z":"5138b632.442258","name":"Format Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"version\": \"1.0\",\n    \"response\": {\n        \"outputSpeech\": {\n            \"type\": \"PlainText\",\n            \"text\": \"{{payload}}\"\n        },\n        \"shouldEndSession\": true\n    }\n}\n            ","x":245.49993896484375,"y":128.99993896484375,"wires":[["a1c7b5c6.9de358"]]},{"id":"a1c7b5c6.9de358","type":"json","z":"5138b632.442258","name":"","x":461.4999237060547,"y":144.33331298828125,"wires":[["77590a20.583164"]]},{"id":"77590a20.583164","type":"http response","z":"5138b632.442258","name":"","x":620.4999847412109,"y":64.33331298828125,"wires":[]},{"id":"7f2260aa.64324","type":"subflow","name":"Thermostat","info":"","in":[{"x":39,"y":57,"wires":[{"id":"b825dba7.d444e8"}]}],"out":[{"x":658.9999847412109,"y":39,"wires":[{"id":"e8372864.a63f98","port":0}]},{"x":669.9999847412109,"y":263.99998474121094,"wires":[{"id":"185426a5.0ac2c9","port":1}]}]},{"id":"b825dba7.d444e8","type":"function","z":"7f2260aa.64324","name":"Parse Input Data","func":"msg.payload = \"Thermostat - Just Keep Keeping On\";\nmsg.topic = \"select location from devices where device = 'thermostat'\";\nreturn msg;","outputs":"1","noerr":0,"x":178.50001525878906,"y":156,"wires":[["bccbc744.746168"]]},{"id":"185426a5.0ac2c9","type":"function","z":"7f2260aa.64324","name":"Format Web Service Request","func":"var mymodule = global.get('wton');\nswitch (msg.wordarray[0]){\n    case \"get\" : \n        msg.method = \"GET\";\n        switch (msg.wordarray[2]){\n            case \"status\":\n                msg.url = \"http://\" + msg.payload[0].location + \"/tstat\";\n                break;\n            case \"temperature\":\n                msg.url = \"http://\" + msg.payload[0].location + \"/tstat/temp\";\n                break;\n            default:\n                msg.payload = \"You said: \" + msg.combined + \".  I don't know how to interpret that.\";\n                return [null, msg];\n        }\n    break;\n    case \"set\" :\n        msg.url = \"http://\" + msg.payload[0].location + \"/tstat\";\n        msg.method = \"POST\";\n        switch (msg.wordarray[2]){\n            case \"heat\":\n                switch (msg.wordarray[3]){\n                    case \"on\":\n                        msg.payload = \"{\\\"tmode\\\": 1}\";\n                        break;\n                    case \"off\":\n                        msg.payload = \"{\\\"tmode\\\": 0}\";\n                        break;\n                    case \"temperature\":\n                        out=\"\";for (i=4;i<msg.wordarray.length;i++){out = out + \" \" + msg.wordarray[i];} out.trim();\n                        msg.payload = \"{\\\"t_heat\\\": \" + mymodule.convert(out) + \"}\";\n                        break;\n                    default:\n                        msg.payload = \"You said: \" + msg.combined + \".  I don't know how to interpret that.\";\n                        return [null, msg];\n                }\n                break;\n            case \"cool\":\n                switch (msg.wordarray[3]){\n                    case \"on\":\n                        msg.payload = \"{\\\"tmode\\\": 2}\";\n                        break;\n                    case \"off\":\n                        msg.payload = \"{\\\"tmode\\\": 0}\";\n                        break;\n                    case \"temperature\":\n                        out=\"\";for (i=4;i<msg.wordarray.length;i++){out = out + \" \" + msg.wordarray[i];} out.trim();\n                        msg.payload = \"{\\\"t_cool\\\": \" + mymodule.convert(out) + \"}\";\n                        break;\n                    default:\n                        msg.payload = \"You said: \" + msg.combined + \".  I don't know how to interpret that.\";\n                        return [null, msg];\n                }\n                break;\n            case \"fan\":\n                switch (msg.wordarray[3]){\n                    case \"on\":\n                        msg.payload = \"{\\\"fmode\\\": 2}\";\n                        break;\n                    case \"off\":\n                        msg.payload = \"{\\\"fmode\\\": 0}\";\n                        break;\n                    default:\n                        msg.payload = \"You said: \" + msg.combined + \".  I don't know how to interpret that.\";\n                        return [null, msg];\n                }\n                break;\n        }\n    break;\n     default : msg.payload=\"You said: \" + msg.combined + \".  I don't know how to interpret that.\";\n        return [null, msg]     \n}\nreturn [msg, null];","outputs":"2","noerr":0,"x":283.4998779296875,"y":401.9999694824219,"wires":[["f5202b3b.7d62d8"],[]]},{"id":"bccbc744.746168","type":"mysql","z":"7f2260aa.64324","mydb":"d0e1fd04.de86c","name":"Get Device Data","x":122.49996948242188,"y":284.9999694824219,"wires":[["185426a5.0ac2c9"]]},{"id":"e8372864.a63f98","type":"function","z":"7f2260aa.64324","name":"Build Returned Data","func":"msg.payload1 = \"\";\nswitch (msg.wordarray[0]){\n    case \"get\" :  \n        msg.method = \"GET\";\n        switch (msg.wordarray[2]){\n            case \"status\":\n                msg.payload1 = msg.payload1 + \"The current temperature is \" + msg.payload.temp + \".  \";\n                if (msg.payload.t_heat !== undefined){\n                    msg.payload1 = msg.payload1 + \"The heat setpoint is \" + msg.payload.t_heat + \".  \";\n                }\n                if (msg.payload.t_cool !== undefined){\n                    msg.payload1 = msg.payload1 + \"The cooling setpoint is \" + msg.payload.t_cool + \".  \";\n                }\n                if (msg.payload.tmode === 0){\n                    msg.payload1 = msg.payload1 + \"The thermostat is currently off.  \";\n                } \n                if (msg.payload.tmode === 1){\n                    msg.payload1 = msg.payload1 + \"The thermostat is currently on.  \";\n                }\n                break;\n            case \"temperature\":\n                msg.payload1 = msg.payload1 + \"The current temperature is \" + msg.payload.temp + \".  \";\n                break;\n            default:\n                msg.payload1 = \"You said: \" + msg.combined + \".  I don't know how to interpret that.\";\n        }\n    break;\n    case \"set\" : \n\t\tif (msg.payload.success === 0) {\n\t\t\tswitch (msg.wordarray[2]){\n    \t\t\tcase \"heat\":\n                    switch (msg.wordarray[3]){\n                        case \"on\":\n                            msg.payload1 = msg.payload1 + \"The thermostat heat has been turned on.\";\n                            break;\n                        case \"off\":\n                            msg.payload1 = msg.payload1 + \"The thermostat heat has been turned off.\";\n                            break;\n                        case \"temperature\":\n                            msg.payload1 = msg.payload1 + \"The thermostat has been set to the desired heat temperature limit.\";\n                            break;\n                        default:\n                            msg.payload = \"You said: \" + msg.combined + \".  I don't know how to interpret that.\";\n                            return [null, msg];\n                    }\n                    break;\n                case \"cool\":\n                    switch (msg.wordarray[3]){\n                        case \"on\":\n                            msg.payload1 = msg.payload1 + \"The thermostat cooling has been turned on.\";\n                            break;\n                        case \"off\":\n                            msg.payload1 = msg.payload1 + \"The thermostat cooling has been turned off.\";\n                            break;\n                        case \"temperature\":\n                            msg.payload1 = msg.payload1 + \"The thermostat has been set to the desired cooling temperature limit.\";\n                            break;\n                        default:\n                            msg.payload = \"You said: \" + msg.combined + \".  I don't know how to interpret that.\";\n                            return [msg];\n                    }\n                    break;\n                case \"fan\":\n                    switch (msg.wordarray[3]){\n                        case \"on\":\n                            msg.payload1 = msg.payload1 + \"The thermostat fan has been turned on.\";\n                            break;\n                        case \"off\":\n                            msg.payload1 = msg.payload1 + \"The thermostat fan has been turned off.\";\n                            break;\n                        default:\n                            msg.payload = \"You said: \" + msg.combined + \".  I don't know how to interpret that.\";\n                            return [msg];\n                    }\n                    break;\n\t\t\t\tdefault:\n\t\t\t\t\tmsg.payload = \"You said: \" + msg.combined + \".  I don't know how to interpret that.\";\n\t\t\t}\n\t\t} else {\n\t\t\tmsg.payload = \"Thermostat did not successfully set the desired value\";\n\t\t\treturn [msg];\n\t\t}\n    break;\n     default : msg.payload=\"You said: \" + msg.combined + \".  I don't know how to interpret that.\";\n        return [msg]     \n}\nmsg.payload = msg.payload1\nreturn [msg];","outputs":1,"noerr":0,"x":517.4999542236328,"y":151.66668701171875,"wires":[[]]},{"id":"f5202b3b.7d62d8","type":"http request","z":"7f2260aa.64324","name":"Web Service","method":"use","ret":"txt","url":"","tls":"","x":446.3332977294922,"y":286.3332977294922,"wires":[["5fa17f37.1e3bc"]]},{"id":"5fa17f37.1e3bc","type":"json","z":"7f2260aa.64324","name":"","x":425.4999542236328,"y":211.33331298828125,"wires":[["e8372864.a63f98"]]},{"id":"ce3bd45.cb65f28","type":"comment","z":"7f2260aa.64324","name":"Std Output","info":"","x":676.4999847412109,"y":84.33332824707031,"wires":[]},{"id":"c2292fa0.c7546","type":"comment","z":"7f2260aa.64324","name":"Error Report","info":"","x":678.4999847412109,"y":214.3333282470703,"wires":[]},{"id":"1167b653.9b511a","type":"comment","z":"7f2260aa.64324","name":"Thermostat Documentation","info":"Thermostat Command List:\n\n{Keyword List}\nAlexa House...\n    Get\n        Thermostat\n            Status   {Retrieves status}\n            Temperature {Retrieves current temperature}\n    Set\n        Thermostat\n            Heat\n                On  {Turns Thermostat Heat On}\n                Off {Turns Thermostat Heat Off}\n                Temperature\n                    (value)   {Sets Thermostat Heat Temp to value}\n            Cool\n                On  {Turns Thermostat Cooling On}\n                Off {Turns Thermostat Cooling Off}\n                Temperature\n                    (value)   {Sets Thermostat Cool Temp to value}\n            Fan\n                On  {Turns Thermostat Fan On}\n                Off {Turns Thermostat Fan Off}    \n            ","x":349.5,"y":25,"wires":[]},{"id":"d0e1fd04.de86c","type":"MySQLdatabase","z":"7f2260aa.64324","host":"127.0.0.1","port":"3306","db":"nodered","tz":""},{"id":"db974137.eda75","type":"function","z":"64347524.f8555c","name":"Alexa Parser","func":"var doStuff = {payload: msg.payload.length};\n \nswitch (msg.payload.request.type)\n    {\n    case \"IntentRequest\":\n    if (msg.payload.request.intent.name   === \"inputIntent\")\n        {\n        var word = [];\n         \n        word[0] = msg.payload.request.intent.slots.wa.value;\n        word[1] = msg.payload.request.intent.slots.wb.value;\n        word[2] = msg.payload.request.intent.slots.wc.value;\n        word[3] = msg.payload.request.intent.slots.wd.value;\n        word[4] = msg.payload.request.intent.slots.we.value;\n        word[5] = msg.payload.request.intent.slots.wf.value;\n        word[6] = msg.payload.request.intent.slots.wg.value;\n        word[7] = msg.payload.request.intent.slots.wh.value;\n        word[8] = msg.payload.request.intent.slots.wi.value;\n        word[9] = msg.payload.request.intent.slots.wj.value;\n        word[10] = msg.payload.request.intent.slots.wk.value;\n        word[11] = msg.payload.request.intent.slots.wl.value;\n        word[12] = msg.payload.request.intent.slots.wm.value;\n        word[13] = msg.payload.request.intent.slots.wn.value;\n        word[14] = msg.payload.request.intent.slots.wo.value;\n         \n        var thisone =0, processed = 0, total = word.length;\n         \n        for (;;)\n            {\n            var nxt = \"\";\n         \n            switch (word[thisone])\n                {\n                case \"cancel\" :\n                        msg.payload = \"\";\n                        return [null, msg];\n                case undefined:\n                case \"the\":    \n                case \"to\":\n                case \"thanks\":\n                case \"thank\":\n                case \"and\":\n                case \"turn\":\n                case \"a\":\n                case \"please\":\n                case \"you\":\n                case \"er\":\n                case \"erm\":\n                word.splice(thisone,1);\n                break;\n                 \n                default:\n                ++thisone;\n                break;\n                }\n                 \n            if (++processed >= total)\n                break;\n            }\n             \n        msg.topic = \"\";\n        msg.payload = \"OK\";\n        doStuff.word = word;\n        msg.word = word;\n        msg.combined=\"\";\n        for (a = 0; a < word.length; a++)\n            {\n            msg.combined += word[a] + \" \";    \n            }\n        }\n        msg.wordarray = msg.combined.trim().toLowerCase().split(\" \")\n    return [msg, null];\n \n    case \"LaunchRequest\":\n    msg.payload = \"You need help\";\n    return [null, msg];\n     \n    case \"SessionEndedRequest\":\n    msg.payload = \"Session Ended\";\n    return [null, msg];\n     \n         \n    default:    \n    msg.payload = \"Unrecognised Intent\";\n    return [null, msg];\n    }","outputs":"2","noerr":0,"x":227,"y":185.33331298828125,"wires":[["f4614d05.b3f04"],["7ab17475.a2505c"]]},{"id":"4ecbe903.dacd68","type":"http in","z":"64347524.f8555c","name":"Input from Alexa","url":"/echo","method":"post","swaggerDoc":"","x":134,"y":90.33334350585938,"wires":[["db974137.eda75"]]},{"id":"f4614d05.b3f04","type":"function","z":"64347524.f8555c","name":"Send To Device","func":"switch (msg.wordarray[1])\n{\n    case \"thermostat\" : \n//            msg2.topic=\"mains3/toesp\"; \n//            msg2.payload=\"{out12:1}\"; \n              msg.payload = msg.combined;\n              return [null, msg, null, null, null];\n//            msg.payload=\"House Lights On\";\n    case \"water\" : \n//            msg2.topic=\"mains3/toesp\"; \n//            msg2.payload=\"{out12:0}\"; \n              msg.payload = msg.combined;\n//            node.send([null, null, msg]);\n//            msg.payload=\"House Lights Off\";\n              return [null, null, msg, null, null];\n    case \"temperature\" : \n//            msg2.topic=\"mains3/toesp\"; \n//            msg2.payload=\"{out12:0}\"; \n              msg.payload = msg.combined;\n//            node.send([null, null, msg]);\n//            msg.payload=\"House Lights Off\";\n              return [null, null, null, msg, null];\n    case \"motion\" : \n//            msg2.topic=\"mains3/toesp\"; \n//            msg2.payload=\"{out12:0}\"; \n              msg.payload = msg.combined;\n//            node.send([null, null, msg]);\n//            msg.payload=\"House Lights Off\";\n              return [null, null, null, null, msg];\n     default : msg.payload=\"You said: \" + msg.combined + \".  I don't know how to interpret that.\";break;\n}\nreturn [msg, null, null, null, null];","outputs":"5","noerr":0,"x":264.99986267089844,"y":316.3331604003906,"wires":[["7ab17475.a2505c"],["fc39d5a7.6aaed8"],[],[],[]]},{"id":"fc39d5a7.6aaed8","type":"subflow:7f2260aa.64324","z":"64347524.f8555c","name":"","x":507.9999694824219,"y":383.9999542236328,"wires":[["7ab17475.a2505c"],["5fee441e.a142dc"]]},{"id":"8ac13109.07712","type":"comment","z":"64347524.f8555c","name":"Devices","info":"Devices\n    Thermostat\n        Get\n            Status\n            Temperature\n        Set\n            Heat  (on/off/temperature {value})\n            Cool  (on/off/temperature {value})\n            Fan   (on/off)\n    Water\n        Sensor\n            Get\n                Status   (Valve, Quiet; Alarm {location})\n                Location (Alarm/Quiet;Last Checkin)\n            Set\n                Valve  (on/off)\n    Temperature\n        Get\n            Location\n    Motion\n        Get\n            Location\n            \n            ","x":455,"y":123.99995422363281,"wires":[]},{"id":"26b6f4fc.3472dc","type":"comment","z":"64347524.f8555c","name":"Command Structure","info":"ALEXA\n    HOUSE/CABIN\n        GET/SET\n            THERMOSTAT\n            WATER\n            TEMPERATURE\n            MOTION","x":497,"y":69,"wires":[]},{"id":"7ab17475.a2505c","type":"subflow:5138b632.442258","z":"64347524.f8555c","name":"","x":769.9999389648438,"y":192.8332405090332,"wires":[[]]},{"id":"5fee441e.a142dc","type":"debug","z":"64347524.f8555c","name":"Tstat Error","active":true,"console":"false","complete":"payload","x":760,"y":385.33336639404297,"wires":[]},{"id":"145f6421.8be82c","type":"debug","z":"64347524.f8555c","name":"Water Error","active":false,"console":"false","complete":"payload","x":759,"y":450.33336639404297,"wires":[]},{"id":"84984061.8121c","type":"debug","z":"64347524.f8555c","name":"Temp Error","active":false,"console":"false","complete":"payload","x":760,"y":511.33336639404297,"wires":[]},{"id":"2cb3dc83.accc94","type":"debug","z":"64347524.f8555c","name":"Motion Error","active":false,"console":"false","complete":"payload","x":759,"y":579.3333358764648,"wires":[]},{"id":"3dcfb559.da1afa","type":"subflow:4fc6ea6b.a8e194","z":"64347524.f8555c","name":"Water","x":503.9999694824219,"y":443.6665802001953,"wires":[["7ab17475.a2505c"],["145f6421.8be82c"]]},{"id":"c882f39a.019fc","type":"subflow:57d47df6.a1a0e4","z":"64347524.f8555c","name":"","x":517.8333129882812,"y":509.9999122619629,"wires":[["7ab17475.a2505c"],["84984061.8121c"]]},{"id":"e59e9eb7.5caae","type":"subflow:f70b08af.080888","z":"64347524.f8555c","name":"","x":506.833251953125,"y":589.0000038146973,"wires":[["7ab17475.a2505c"],["2cb3dc83.accc94"]]}]